@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');
body {
  background-color: #1d1f1f;
  color: #f5f5f5;
   font-family: "Asimovian", sans-serif;
  margin: 0;
  padding: 0;
  font-size: large;
  
}

.pagina {
  max-width: 700px;
  margin: auto;
  padding: 2em;
 background-color: #2a2a2a;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  margin-top: 3em;
}

img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1em;
}

a {
  color: #6170fb;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #907add;
}
#cratura{
width: 80px;
}